*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-gallery{
    background-color: #c4c4c4;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
img{
    width: 300px;
    height: 300px;
}
img:hover{
    transition: .4s;
    opacity: 0.5;
    width: 310px;
    height: 310px;
    box-shadow: 2px 2px 2px #0000008e;
}